In [1]:
import pandas as pd

In [28]:
#import csv files using pandas
demographics=pd.read_csv("Demographics.csv")
labs=pd.read_csv("labsfirstday_ARDS.csv")
vitals=pd.read_csv("Vitals_mimic.csv")

Data Cleaning: Demographics

In [29]:
#Take a look at the demographics dataframe
demographics.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,...,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data,subject_id-2,gender,dob
0,456,357,174486,2197-12-06 07:13:00,2198-01-03 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,MARRIED,WHITE,2197-12-06 06:28:00,2197-12-06 07:43:00,GASTROINTESTINAL BLEED,0,1,357,M,2135-03-22 00:00:00
1,457,357,145674,2198-08-02 04:49:00,2198-10-26 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Private,...,MARRIED,WHITE,2198-08-02 02:03:00,2198-08-02 05:37:00,SEIZURE,0,1,357,M,2135-03-22 00:00:00
2,460,357,117876,2199-12-21 22:37:00,2200-01-18 11:45:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,...,MARRIED,WHITE,2199-12-21 20:38:00,2199-12-22 00:01:00,ALTERED MENTAL STATUS,0,1,357,M,2135-03-22 00:00:00
3,474,368,138061,2139-12-16 19:48:00,2139-12-22 16:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,WIDOWED,WHITE,2139-12-15 21:10:00,2139-12-16 22:05:00,PNEUMONIA,0,1,368,M,1837-07-11 00:00:00
4,93,91,121205,2177-04-23 00:08:00,2177-05-10 15:16:00,2177-05-10 15:16:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,MARRIED,WHITE,2177-04-22 21:02:00,2177-04-23 04:03:00,FEVER,1,1,91,F,2095-09-26 00:00:00

In [30]:
#Remove all the patients that had multiple admissions. After removal, we still have 6749 unique patients 
demographics=demographics.drop_duplicates(subset=['subject_id'], keep=False)

#Drop a few columns that we don't need
demographics=demographics.drop(columns=['row_id','has_chartevents_data'])

# Rename the death column. 1=death, 0=alive
demographics.rename(columns={'hospital_expire_flag':'death'}, inplace=True)

['subject_id',
 'hadm_id',
 'admittime',
 'dischtime',
 'deathtime',
 'admission_type',
 'admission_location',
 'discharge_location',
 'insurance',
 'language',
 'religion',
 'marital_status',
 'ethnicity',
 'edregtime',
 'edouttime',
 'diagnosis',
 'hospital_expire_flag',
 'subject_id-2',
 'gender',
 'dob']

Data Cleaning: Labs

In [38]:
#Take a look at the dataframe
labs.head()

,subject_id,hadm_id,icustay_id,ANIONGAP_Min,ANIONGAP_Max,ALBUMIN_Min,ALBUMIN_Max,BANDS_Min,BANDS_Max,BICARBONATE_Min,...,INR_max,PT_min,PT_max,SODIUM_min,SODIUM_max,BUN_min,BUN_max,WBC_min,WBC_max,ICD9_CODE
0,91,121205,218528,14.0,28.0,NaN,NaN,NaN,NaN,12.0,...,2.6,15.4,19.3,136.0,137.0,42.0,47.0,3.5,5.4,51881
1,91,121205,256972,15.0,32.0,NaN,NaN,NaN,NaN,9.0,...,2.1,14.8,17.5,137.0,145.0,11.0,15.0,5.5,15.4,51881
2,101,175533,233111,16.0,28.0,NaN,NaN,NaN,NaN,12.0,...,1.3,13.1,13.7,140.0,146.0,15.0,17.0,10.7,14.4,51881
3,111,155897,249202,8.0,22.0,1.9,1.9,4.0,19.0,12.0,...,2.7,27.2,27.2,139.0,153.0,20.0,46.0,6.3,21.2,51881
4,111,155897,249202,8.0,22.0,1.9,1.9,4.0,19.0,12.0,...,2.7,27.2,27.2,139.0,153.0,20.0,46.0,6.3,21.2,51881

In [46]:
#Only keep lab values of patients we have in the demographics dataframe
labs=labs[labs.subject_id.isin(demographics.subject_id)]

Data Cleaning: Vitals

In [53]:
vitals.head()

,subject_id,hadm_id,icustay_id,HeartRate_Min,HeartRate_Max,HeartRate_Mean,SysBP_Min,SysBP_Max,SysBP_Mean,DiasBP_Min,...,TempC_Min,TempC_Max,TempC_Mean,SpO2_Min,SpO2_Max,SpO2_Mean,Glucose_Min,Glucose_Max,Glucose_Mean,ICD9_CODE
0,91,121205,218528,102.0,115.0,107.400000,94.0,124.0,111.600000,44.0,...,36.388889,37.444445,36.916667,96.0,100.0,98.700000,175.0,175.0,175.000000,51881
1,91,121205,256972,74.0,152.0,108.709677,113.0,195.0,150.837838,50.0,...,36.611112,38.222224,37.342593,86.0,100.0,98.882353,48.0,152.0,118.666667,51881
2,101,175533,233111,72.0,117.0,87.034483,57.0,182.0,116.030303,19.0,...,37.111113,38.777779,37.990741,67.0,100.0,97.300000,186.0,218.0,203.666667,51881
7,112,173177,251972,59.0,129.0,101.209302,23.0,116.0,96.227273,19.0,...,35.555556,35.944443,35.744444,95.0,100.0,99.538462,100.0,156.0,132.888889,51881
8,112,174105,289222,57.0,71.0,62.678571,93.0,141.0,113.346154,27.0,...,36.388889,36.999999,36.808642,94.0,100.0,98.444444,83.0,83.0,83.000000,51881

In [52]:
#Only keep lab values of patients we have in the demographics dataframe
vitals=vitals[vitals.subject_id.isin(demographics.subject_id)]